.btn-outline {
  display: flex;
  column-gap: 10px;
  align-items: center;

  padding: 12px 20px;
  margin-bottom: 70px;

  border: 1px solid #171718;
  border-radius: 5px;
  color: #171718;
}
.btn-outline:hover {
  background-color: #e7e7e7;
}
